body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

}

#map-container {
    position: relative;
    height: 300px;
    width: 100%;
    text-align: left;
}

#map-container1 {
  position: relative;
  height: 350px;
  width: 100%;
  text-align: left;
}


#map {
  position: relative;
  height: inherit;
  width: inherit;
}  

.leaflet-interactive {
  cursor: pointer;
}

#maplist li {
  font-size: 1.25rem;
}


.navbar {
  background-color: #035a03;
  opacity: 0.75;
}
.homefooter {
  background-color: #035a03;
  opacity: 0.75;
}

.homefooter,
.phomefooter {
  padding-top: 1.5rem !important;
}

.homefooter,
.homefooter {
  padding-bottom: 1.5rem !important;
}

.notes {
  color: red;
  font-size: 11px;
}

#demographics {
  font-size: 16px;
}

#demographics td  {
  padding: 0.3rem;
  vertical-align: middle;
}

.demoText {
  font-size: 24px;
  text-align: left;
  color: black;
  margin-top: 10px;
  font-weight: bold;

}

.red{
  color:#dc3545;
}

.small {
  font-size: 80%;
}

.smaller {
  font-size: 70%;
}

.italic{
  font-style: italic;
}

.incentive {
  font-size: 90%;
  font-weight: bold;
  padding: 0.3rem;

}

.maptable th,
.maptable td {
  padding: 0.3rem;
  vertical-align: middle;
}

.emissions {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #dc3545; 
  font-size: 24px;
  font-weight: bold;
}

.temissions {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #dc3545;  
  font-size: 24px;
  font-weight: bold;
}

.law {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #035a03;
  font-size: 18px;
}

.alt {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #035a03;
  font-size: 18px;
}

.station {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #308bd6;
  font-size: 18px;
}

.outlet {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #308bd6;
  font-size: 18px;
}
